:root {
    --main-color: #f0b000;
}

* {
    margin: 0;
}

html {
    display: flex;
    justify-content: center;
    background-color: black;
}

body {
    width: 210mm;
    height: 297mm;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

header {
    width: 100%;
    height: 40mm;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    background-image: url("/img/cover-image-adjusted.png");
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
}

header > div {
    margin: 5mm;
}

img {
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    outline: 2mm solid white;
    margin: 5mm;
    transform: translateY(10mm);
}

#name-and-post {
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 2.7em;
    width: 100%;
    text-align: center;
    text-shadow: 1px 1px 5px white;
}

h3 {
    font-size: 1.3em;
}

#name-and-post span {
    margin-bottom: 3mm;
    font-size: 1.2em;
}

#contact-details {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-shadow: 1px 1px 5px white;
}

h2 {
    color: var(--main-color);
    font-size: 1.25em;
    margin-bottom: 2mm;
}

a {
    font-style: italic;
    color: var(--main-color);
}

#content {
    padding: 5mm;
    padding-left: 0mm;
    padding-top: 2mm;
    padding-bottom: 10mm;
}

section {
    margin: 4mm;
    margin-bottom: 0;
    padding: 5mm;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.068);
}

li {
    margin-bottom: 2mm;
}

#bottom {
    display: flex;
    justify-content: space-between;
}

#it-skills {
    width: 54%;
}

#it-skills > ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 25mm;
}

#it-skills > ul > li {
    flex: 1 0 33.33%;
    margin: 0;
}

p {
    text-align: justify;
}