#inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
  width: 100%;

}

#inputs > button {
  margin: 1rem;
  width: 210px;
  border-radius: 5px;
  background-color: white;
  border: none;
  box-shadow: 5px 5px 10px #e7e7e7,
              -5px -5px 10px #e7e7e7,
              5px -5px 10px #e7e7e7,
              -5px 5px 10px #e7e7e7;
}
