<div *ngIf="Guardian; else notExist">
  <div>
    {{ Guardian.firstName }}<br>
    {{ Guardian.lastName }}<br>
    {{ Guardian.phoneNumber }}<br>
    Address:

    <ul>
      <li>
        {{ Guardian.address.buildingNumber }} {{ Guardian.address.street }} <span *ngIf="Guardian.address.apartmentCode">{{ Guardian.address.apartmentCode }}</span><br>
        {{ Guardian.address.cityCode }} {{ Guardian.address.city }}<br>
      </li>
    </ul>
    Guardian of:
    <ul>
      <li *ngFor="let child of Guardian.children">
        id: {{ child.id}}<br>
        {{ child.firstName }}<br>
        {{ child.lastName }}<br>
        {{ child.dateOfBirth }}<br>
        {{ child.cleanliness}}<br>
        Allergies: {{ child.allergies}}<br>
      </li>
    </ul>
  </div>
</div>


<ng-template #notExist>No guardian data found.</ng-template>
