<h1>Contact</h1>

<nav>
  <ul>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <a routerLink="/">Home</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/demo">Demo</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/krusty-krab">Krusty Krab</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/contact">Contact</a>
    </li>
  </ul>
</nav>

<h2>The Krusty Krab</h2>
<h4>opening hours:</h4>
<div id="content">
  <table>
    <tr>
      <td class="day-name">mon</td>
      <td>06:00</td>
      <td>-</td>
      <td>00:00</td>
    </tr>
    <tr>
      <td class="day-name">tue</td>
      <td>06:00</td>
      <td>-</td>
      <td>00:00</td>
    </tr>
    <tr>
      <td class="day-name">wed</td>
      <td>06:00</td>
      <td>-</td>
      <td>00:00</td>
    </tr>
    <tr>
      <td class="day-name">thu</td>
      <td>06:00</td>
      <td>-</td>
      <td>00:00</td>
    </tr>
    <tr>
      <td class="day-name">fri</td>
      <td>06:00</td>
      <td>-</td>
      <td>00:00</td>
    </tr>
    <tr>
      <td class="day-name">sat</td>
      <td>06:00</td>
      <td>-</td>
      <td>00:00</td>
    </tr>
    <tr>
      <td class="day-name">sun</td>
      <td>closed</td>
    </tr>
  </table>

  <br>
  <br>
  <br>

  <p>
    mister.krab@poignon.com <br><br>
    1000 under the see street <br>
    Bikini Bottom
  </p>
</div>
