<table>
  <thead>
  <tr>
    <th>id</th>
    <th>first_name</th>
    <th>last_name</th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let guardian of GuardianList" [routerLink]="[guardian.id]">
    <td class="id-number">{{ guardian.id }}</td>
    <td>{{ guardian.firstName }}</td>
    <td>{{ guardian.lastName }}</td>
  </tr>
  </tbody>
</table>
<!--<ul>-->
<!--  <li *ngFor="let guardian of GuardianList" class="data-line">-->
<!--    <span class="id-number">{{ guardian.id }}</span>-->
<!--    <span>{{ guardian.firstName }}</span>-->
<!--    <span>{{ guardian.lastName }}</span>-->
<!--  </li>-->
<!--</ul>-->
